{% extends 'base.html' %}
{% block content %}
{% load static %}
<br>
<div class="card text-center bg-warning">
  <h1>Talent Tree</h1>
</div>
<hr />
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h1>Talents</h1>
      <a class="btn btn-primary" href="{% url 'talents_create' %}">Add Talent</a>
      <hr />
      
      {% for talent in talents %}
        <div class="card {{ talent.color }} mb-3" style="max-width: 450px">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{ talent.image }}" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ talent.skill }}</h5>
                <p class="card-text">Setting: {{ talent.setting }}</p>
                <p class="card-text">Leveling: {{ talent.leveling }}</p>
                <p class="card-text"><small class="text-whtie">Last updated ?</small></p>
                <a class="btn btn-outline-light" href="{% url 'talents_update' talent.id %}">Edit</a>
                <a class="btn btn-outline-light" href="{% url 'talents_delete' talent.id %}">Delete</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
    <div class="col-sm-4">
      <img src="{% static 'talent.png' %}" class="card-img" alt="..." height = 250px>
      <hr />
      <div class="card text-center bg-warning">
        <h1>REP = 14</h1>
      </div>
      {% for talent in talents %}
        
      {% endfor %}

    </div>
    <div class="col-sm-4">
      <h1>To Learn</h1>
      
      <a class="btn btn-primary" href="{% url 'learns_create' %}">Add Skill to Learn</a>
      <hr />
      
      {% for learn in learns %}
        <div class="card text-white bg-dark mb-3" style="max-width: 450px">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{% static 'logo.png' %}" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ learn.skill }}</h5>
                <p class="card-text"><small class="text-muted">Last updated ?</small></p>
                <a class="btn btn-outline-light" href="{% url 'learns_update' learn.id %}">Edit</a>
                <a class="btn btn-outline-light" href="{% url 'learns_delete' learn.id %}">Delete</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    


  </div>
</div>
{% endblock %}