{% extends 'base.html' %}
{% block content %}
{% load static %}

<br>
<div class="card text-center bg-warning">
<h1>Your RepBucket Stats View</h1>
</div>
<hr />
<div class="container">
    <img class="mg-responsive center-block d-block mx-auto" src="{% static 'skill.png' %}" width="500" height="500" alt="" loading="lazy">
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">What is REP?</h1>
      <p class="lead"> At RepBucket, the term "REP" stands for "reality experience points". Each item you add to your "Talent Tree" and "Quest Journal" raises your REP count by one. It is all in good fun. See what you can accomplish.</p>
      <h1 class="display-4">Breaking down the Talent Tree.</h1>
      <p class="lead">The Talent Tree is designed to help users keep track of their talents and skills. Talents are things you have tried or are actively practicing. Users may choose a difficulty "setting", representative of their experience level, as well as whether or not they are "leveling", actively practicing, the "talent". Users can also add skills that they would like to learn one day to the "To Learn" column. </p>
      <h1 class="display-4">Notes on the Quest Journal.</h1>
      <p class="lead">In the "Quest Journal", users may add things they wish to acccomplish in the "To Accept" section. Objectives that have been achieved, or are in the processess of being completed can be added as "Quests".</p>
    </div>
  
</div>

{% endblock %}