{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>RepBucket</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <a href="/" class="navbar-brand">
                <img class="navbar-brand" src="{% static 'logo.png' %}" width="100" height="100" alt="" loading="lazy">
                <h2 class="navbar-brand">RepBucket</h2>
            </a>
            <a class="nav-link" href="{% url 'about' %}">About</a>
            <a class="nav-link" href="{% url 'index' %}">Talent Tree</a>
        </nav>
</body>
</html>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    
    <footer class="card-footer fixed-bottom">
        <div class="right">All Rights Reserved, &copy; 2020 RepBucket &nbsp;</div>
    </footer>
</body>
</html>