{% extends 'base.html' %}
{% block content %}

<br>
<div class="card text-center bg-warning">
<h1>Welcome to RepBucket</h1>
</div>
<hr />
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">About Repbucket</h1>
      <p class="lead">RepBucket is a platform that "gamifies" the tracking and highlighting of achievements, activities, skills, hobbies, and goals. From the mundane to monumental, goals are your "Quests", which can be found in your "Quest Journal". Your skills and hobbies are represented as skills on your "Talent Tree". Level them up as you see fit.</p>
    </div>
  </div>
{% endblock %}