html {
    position: relative;
    height: 100%;
    margin: 0;
}

body {
    background-color: slategrey;
    height: 100%;
  margin: 0;
   
}

.navbar-brand {
    font-size: 30px;
}

.nav-link {
    font-size: 20px;
}

.content {
    min-height: 100%;
  }
.content-inside {
    padding: 20px;
    padding-bottom: 50px;
  }
.card-footer {
    height: 50px;
    margin-top: -50px;
  }